.header{
	background-color: #222e33;
	height: 10vh;
	width: 100%;
}
.navbar{
	background-color: #222e33;
	width: 100%;
	border: none;
	z-index: 1000;
}
.navbar-header{
	height: 10vh;
}
.navbar-brand{
	display: flex;
	justify-content: center;
	height: 10vh;
}
.logo{
	width: 25%;
}
