.content{
	height: 75vh;
	background-image: url("/images/Background.jpg");
	background-size: 100vw 85vh;
	background-repeat: no-repeat;
}
.content-container{
	width: 100%;
	display: flex;
	justify-content: space-between;
	height: 100%;
}
.content-holder{
	height: 100%;
	width: 50vw;
	display: flex;
	justify-content: center;
}

.pikachu-image{
	width: 65%;
	display: block;
	margin: auto;
}

.valor-icon{
	width: 35%;
}
.welcome-words{
	border: 1px solid black;
	width: 70%;
	height: 85%;
	background-color: rgba(10, 10, 10, 0.7);
	color: orange;
	font-size: 1em;
	margin: auto;
	border-radius: 20px;
	padding: 2%;
}
